<div *ngIf="robo" class="card" style="width: 30rem;">
    <img src="{{ robo.image }}" class="card-img-top" alt="{{ robo.name }}">
    <div class="card-body">
        <h5 class="card-title text-center">{{ robo.name }}</h5>

        <form #form="ngForm">
            <div class="mb-2">
                <label for="price" class="form-label">Price</label>
                <input type="number" class="form-control"
                       id="price" name="price"
                       [(ngModel)]="robo.price" min="0">
            </div>
            <div class="mb-2">
                <label for="count" class="form-label">Stock Count</label>
                <input type="number" class="form-control" id="count" name="count"
                       [(ngModel)]="robo.count"
                       min="0">
            </div>
            <div class="mb-2">
                <label for="city" class="form-label">City</label>
                <input type="text" class="form-control" id="city" name="city" [(ngModel)]="robo.city">
            </div>
            <div class="mb-2">
                <label for="country" class="form-label">Country</label>
                <input type="text" class="form-control" id="country" name="country" [(ngModel)]="robo.country">
            </div>

            <div class="text-center">
                <button (click)="save()" type="button" class="btn btn-success">
                    <i class="bi bi-save-fill"></i>
                    Save
                </button>
                <a [routerLink]="['/show', robo.name]" class="btn btn-secondary ms-2">
                    <i class="bi bi-x-square-fill"></i>
                    Cancel
                </a>
            </div>
        </form>
    </div>
</div>
