<div class="bg-light p-1 rounded">
    <h1>Robo List</h1>
    <table class="table table-hover table-borderless">
        <thead>
            <tr>
                <th>Icon</th>
                <th>Name</th>
                <th>Price</th>
                <th>Count</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of items" class="fs-5">
                <td><img src="{{ r.icon }}" alt="{{r.name}}" class="img-fluid"></td>
                <td><code>{{ r.name }}</code></td>
                <td>{{ r.price | currency:'SEK':'kr':'1.0-0':'sv' }}</td>
                <td>{{ r.city }}</td>
                <td>
                    <a [routerLink]="['/show', r.name]" class="text-decoration-none btn btn-link text-dark fs-5">
                        <i class="bi bi-person-vcard-fill"></i>
                        View
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<nav>
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" (click)="first()">First</a></li>
        <li class="page-item"><a class="page-link" (click)="prev()">Previous</a></li>
        <li class="page-item"><span class="page-link disabled">{{ page }}</span></li>
        <li class="page-item"><a class="page-link" (click)="next()">Next</a></li>
        <li class="page-item"><a class="page-link" (click)="last()">Last</a></li>
    </ul>
</nav>
