
<h1>Create New Robo</h1>

<div class="card" style="width: 30rem;">
    <div class="card-body">
        <form #form="ngForm" >
            <div class="mb-2">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name"
                       [(ngModel)]="robo.name"
                       placeholder="Name of robo" required>
            </div>
            <div class="mb-2">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" id="description" name="description"
                       [(ngModel)]="robo.description"
                       placeholder="Description of robo" required>
            </div>

            <div class="mb-2">
                <label for="city" class="form-label">City</label>
                <input type="text" class="form-control" id="city" name="city"
                       [(ngModel)]="robo.city"
                       placeholder="City of robo" required>
            </div>
            <div class="mb-2">
                <label for="country" class="form-label">Country</label>
                <input type="text" class="form-control" id="country" name="country"
                       [(ngModel)]="robo.country"
                       placeholder="Country for its city" required>
            </div>

            <div class="mb-2">
                <label for="price" class="form-label">Price</label>
                <input type="number" class="form-control" id="price" name="price"
                       [(ngModel)]="robo.price"
                       min="0" max="500">
            </div>
            <div class="mb-2">
                <label for="count" class="form-label">Stock Count</label>
                <input type="number" class="form-control" id="count" name="count"
                       [(ngModel)]="robo.count"
                       min="0" max="10">
            </div>

            <div class="text-center">
                <button (click)="save()" type="button" class="btn btn-success">
                    <i class="bi bi-save-fill"></i>
                    Create
                </button>
                <a [routerLink]="'/list'" class="btn btn-secondary ms-2">
                    <i class="bi bi-x-square-fill"></i>
                    Cancel
                </a>
            </div>
        </form>
    </div>
</div>
