<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{> bootstrap }}
    <title>Error</title>
</head>
<body>
    {{> navbar }}
    <main class="container">
        <div class="bg-light p-1 rounded">
            <h1>Not Found</h1>
            <p>
                Ooops, couldn't find the Robo "<code>{{name}}</code>" you were looking for.
            </p>
            <a href="/" class="btn btn-warning">
                <i class="bi bi-house-door-fill"></i>
                Back to the start page
            </a>
        </div>
    </main>
</body>
</html>
