<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{> bootstrap }}
    <title>The RoboStore Spring App</title>
</head>
<body>
    {{> navbar }}
    <main class="container">
        <div class="bg-light p-5 rounded">
            <h1>The RoboStore Spring App</h1>

            <div class="row align-items-center">
                <div class="col">
                    <img src="https://robohash.org/one.png" alt="one" class="img-fluid">
                </div>
                <div class="col">
                    <img src="https://robohash.org/two.png" alt="two" class="img-fluid">
                </div>
                <div class="col">
                    <img src="https://robohash.org/three.png" alt="three" class="img-fluid">
                </div>
            </div>
        </div>
    </main>
</body>
</html>
