<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="'/home'" >
            RoboStore
            <img [src]="roboLogo" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li *ngFor="let nav of navs" class="nav-item">
                    <a class="nav-link" [routerLink]="nav.uri" [routerLinkActive]="'active'">
                        <i [class]="nav.icon"></i>
                        {{nav.text}}
                    </a>
                </li>
            </ul>
            <div class="d-flex" role="search" >
                <input #searchFld type="search" class="form-control me-2"
                       id="phrase" name="phrase" placeholder="Robo by Name">
                <button (click)="search(searchFld.value)" class="btn btn-info" type="button">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
    </div>
</nav>
