<h1>Summary</h1>

<table class="table table-borderless table-sm fs-4">
    <tbody>
        <tr>
            <th>Number of Robos:</th>
            <td>{{ summary.count }}</td>
        </tr>
        <tr>
            <th>Total Value:</th>
            <td>{{ summary.total | currency:'SEK':'kr':'1.0-0':'sv'}}</td>
        </tr>
        <tr>
            <th>Out of Stock:</th>
            <td>{{ summary.zero }}</td>
        </tr>
    </tbody>
</table>
