<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{> bootstrap }}
    <title>Robo List</title>
</head>
<body>
    {{> navbar }}
    <main class="container">
        <div class="bg-light p-1 rounded">
            <h1>Robo List</h1>
            <table class="table table-hover table-borderless">
                <thead>
                    <tr>
                        <th>Icon</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Count</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody>
                    {{#list}}
                        <tr class="fs-4">
                            <td><img src="{{ icon }}" alt="{{name}}" class="img-fluid"></td>
                            <td><code>{{ name }}</code></td>
                            <td>{{ price }} kr</td>
                            <td>{{ count }}</td>
                            <td>
                                <a href="/robo/show/{{name}}" class="text-decoration-none btn btn-link text-dark fs-4">
                                    <i class="bi bi-person-vcard-fill"></i>
                                    View
                                </a>
                            </td>
                        </tr>
                    {{/list}}
                </tbody>
            </table>
        </div>

        {{#page}}
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item"><a class="page-link" href="/robo/list/first"><i class="bi bi-skip-start-fill"></i> First</a></li>
                    <li class="page-item"><a class="page-link" href="/robo/list/prev/{{page}}"><i class="bi bi-caret-left-fill"></i> Previous</a></li>
                    <li class="page-item"><span class="page-link disabled">{{ page }}</span></li>
                    <li class="page-item"><a class="page-link" href="/robo/list/next/{{page}}">Next <i class="bi bi-caret-right-fill"></i></a></li>
                    <li class="page-item"><a class="page-link" href="/robo/list/last">Last <i class="bi bi-skip-end-fill"></i></a></li>
                </ul>
            </nav>
        {{/page}}
    </main>
</body>
</html>
