<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{> bootstrap }}
    <title>Summary</title>
</head>
<body>
    {{> navbar }}
    <main class="container">
        <div class="bg-light p-1 rounded">
            <h1>Summary</h1>

            <table class="table table-borderless table-sm fs-4">
                <tbody>
                    <tr>
                        <th style="white-space: nowrap; width: 14rem;">Number of Robos:</th>
                        <td class="font-monospace">{{ count }}</td>
                    </tr>
                    <tr>
                        <th style="white-space: nowrap; width: 14rem;">Out of Stock:</th>
                        <td class="font-monospace">{{ zero }}</td>
                    </tr>
                    <tr>
                        <th style="white-space: nowrap; width: 14rem;">Total Value:</th>
                        <td class="font-monospace">{{ total }} kr</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
