<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{> bootstrap }}
    <title>Robo List</title>
    <script defer type="module" src="/js/list.js"></script>
</head>
<body>
    {{> navbar }}
    <main class="container">
        <div class="bg-light p-1 rounded">
            <h1>Robo List</h1>
            <table class="table table-hover table-borderless">
                <thead>
                    <tr>
                        <th>Icon</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Count</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- AJAX -->
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
