<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{> bootstrap }}
    <title>Robo Show</title>
</head>
<body>
    {{> navbar }}
    <main class="container">
        <div class="bg-transparent p-1 rounded">
            <h1>The Robo Detail</h1>

            {{#obj}}
                <div class="card" style="width: 30rem;">
                    <img src="{{ image }}" class="card-img-top" alt="{{ name }}">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ name }}</h5>
                        <h5 class="card-subtitle text-center text-capitalize fst-italic">{{ description }}</h5>
                        <table class="table table-borderless table-sm card-text">
                            <tr>
                                <th>Price</th>
                                <td>{{ price }} kr</td>
                            </tr>
                            <tr>
                                <th>Stock Count</th>
                                <td>{{ count }}</td>
                            </tr>
                            <tr>
                                <th>UID</th>
                                <td><code>{{ uid }}</code></td>
                            </tr>
                            <tr>
                                <th>Origin</th>
                                <td>{{ city }}, {{ country }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-footer text-center">
                        <a href="/robo/edit/{{name}}" class="btn btn-primary">
                            <i class="bi bi-pencil-square"></i>
                            Edit
                        </a>
                        <a href="/robo/remove/{{name}}" class="btn btn-danger">
                            <i class="bi bi-trash-fill"></i>
                            Remove
                        </a>
                    </div>
                </div>
            {{/obj}}
        </div>
    </main>
</body>
</html>
